# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ruff / mypy
*.*_cache/

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
infra/env/
.local/
*.egg-info/
.installed.cfg
*.egg

# Docker
Dockerfile
docker-compose.yml

# JetBrains /
.idea/

# VS Code
.vscode/

# app
README.md